{#

(c) Netvlies Internetdiensten

@author Sjoerd Peters <speters@netvlies.nl>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}Select the type{% endblock %}

{% block content %}
    <p><b>Select a type</b></p>
    <ul style="list-style-type: none;">
    {% block select_type %}
        {% for type, subAdmin in types %}
            <li><a href="{{ subAdmin.generateUrl('create') }}">{{ subAdmin.label }}</a></li>
        {% else %}
            <li>No types Available</li>
        {% endfor %}
    {% endblock %}
    </ul>
{% endblock %}
